@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

html, body, [class*="css"]  {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(135deg, #ffe5ec, #ffe4ec);
}

h1, h2, h3 {
    color: #e91e63;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
    color: #555555;
    text-align: center;
}

div[data-testid="stMarkdownContainer"] p {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555555;
}

a {
    color: #a24e6a;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.stTextInput>div>input {
    border: 1px solid #e91e63;
    font-family: 'Quicksand', sans-serif;
}

.custom-button {
    background-color: #f46997;
    color: white !important;
    border: none;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none !important;
    display: inline-block;
}
.custom-button:hover {
    background-color: #e91e63;
    transform: scale(1.05);
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f46997;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    z-index: 999;
}
.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
}
