@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

html, body, [class*="css"]  {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffe4ec) !important;
}

h1, h2, h3 {
    color: #ff9cbd;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
    color: #555555;
    text-align: center;
}

div[data-testid="stMarkdownContainer"] p {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555555;
}

a {
    color: #a24e6a;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.profile-image-container {
    position: relative;
    margin-top: -100px;  
    margin-bottom: 20px;
    text-align: center;
}

.profile-image-container img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.profile-image-container img:hover {
    transform: scale(1.05);
}
.custom-button {
    background-color: #f46997;
    color: white !important;
    border: none;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none !important;
    display: inline-block;
}
.custom-button:hover {
    background-color: #f4b7cb;
    transform: scale(1.05);
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

